html, body 
{
	font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
{
    color: #ffffff;
    text-decoration: none;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {
    border-spacing: 5px;
}
table#t01 {
    width: 100%; 
    position: absolute;
    margin-top: 500px;
    margin-left: 429px;
    background-color: #f1f1c1;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}
#title_text 
{
	margin-top: 60px;
	text-align: center;
	font-size: 120px;
    font-weight: 300;
	color: #ffffff;
}
#about_title_text
{
    margin-top: 10px;
    text-align: center;
    font-size: 64px;
    font-weight: 300;
    color: #ffffff;
}
#subtitle_text
{
    margin-top: -125px;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    color: #ffffff;
}
.person_text
{
    margin-top: -30px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
}
.login_menu
{
    background: rgb(246, 113, 44);
	position: absolute;
	width: 400px;
	height: 200px;
    padding-top: 50px;
	left: 0;right: 0;
	top: 300px;
	margin: auto;
	text-align: center;
	color: #ffffff;
	border: none;
}
#about_us_container
{
    position: absolute;
    width: 900px;
    height: auto;
    left: 0;right: 0;
    margin: auto;
}
.about_member 
{
    position: relative;
    float: left;
    background: rgb(246, 113, 44);
    width: 260px;
    height: 200px;
    margin: 20px;
    text-align: center;
    color: #ffffff;
    border: none;
}
.register_menu
{
    background: rgb(246, 113, 44);
	position: absolute;
	width: 400px;
	height: 500px;
	left: 0;right: 0;
	top: 100px;
	margin: auto;
	text-align: center;
	color: #ffffff;
	border: none;
}
.register_title
{
    font-size: 42px;
    margin-bottom: 20px;
}
input[type=text],
input[type=submit]
{
	left: 0;right: 0;
	margin: auto;
	display: block;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	outline: 0;
	font-size: 18px;
	color: #707070;
}
input[type=submit]
{
    color: #ffffff;
}
input[type=radio]
{
    margin-bottom: 10px;
}
.rad_button
{
    font-size: 18px;
    cursor: pointer;
}
.login_button
{
	width: 100px;
    margin-top: 15px;
	background: #bcbcba;
	cursor: pointer;
}
.login_input
{
	padding-left: 5px;
}
.register
{
	cursor: pointer;
}

.nav_bar 
{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    background: #666666;
    color: #ffffff;
    font-size: 20px;
}
.nav_menu
{
    position: absolute;
    top: 7.5px;
    left: 30px;
}
.nav_menu_item
{
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    float: left;
}
.nav_username
{
    position: absolute;
    top: 5px;
    right: 30px;
    font-weight: 200;
}
.nav_logout
{
    position: absolute;
    top: 35px;
    right: 30px;
    font-size: 12px;
    cursor: pointer;
}
.student_data_container
{
    position: absolute;
    width: 1050px;
    top: 130px;
    left: 0;right: 0;
    margin: auto;
}
.class_icon
{
    background: rgb(246, 113, 44);
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    cursor: pointer;
}
.class_title
{
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
}
.class_icon_info
{
    position: absolute;
    left: 50px;
    font-size: 22px;
    width: 180px;
    height: 160px;
}
.class_icon_info_container
{
    position: absolute;
    top: -10px;
    left: 0;
    font-weight: 200;
}
.class_icon_data_container
{
    position: absolute;
    top: -10px;
    right: 0;
}
.video_icon
{
    background: rgb(246, 113, 44);
    position: relative;
    float: left;
    width: 300px;
    height: 175px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    cursor: pointer;
}
.play_button
{
    position: absolute;
    bottom: 30px;
    left: 0;right: 0;
    margin: auto;
}

.video_title
{
    text-align: center;
    margin-top: 25px;
    font-size: 72px;
    font-weight: 300;
    color: #ffffff;
}
.video_return_button
{
    position: absolute;
    top: 10px;
    left: 20px;
    color: #ffffff;
    font-size: 24px;
}
.video_box
{
    position: absolute;
    left: 0;right: 0;
    margin: auto;
    width: 800px;
    height: 400px;
    background: #ffffff;
}
.breakpoint_button
{
    background: rgb(246, 113, 44);
    border: none;
    position: absolute;
    left: 0;right: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    cursor: pointer;
}
.breakpoint_menu
{
    background: rgb(246, 113, 44);
    position: absolute;
    top: 650px;
    left: 0;right: 0;
    margin: auto;
    height: 625px;
    width: 800px;
}
.breakpoint_title 
{
    text-align: center;
    margin-top: 25px;
    font-size: 32px;
    font-weight: 300;
    color: #000000;
}
.breakpoint_time
{
    text-align: center;
    width: 100px;
}
.breakpoint_question
{
    text-align: center;
    width: 500px;
}
.breakpoint_answer
{
    padding-left: 5px;
    width: 300px;
}
.breakpoint_rad_button
{
    margin-bottom: -10px;
}
.correct_answer_container 
{
    position: absolute;
    width: 500px;
    left: 0;right: 0;
    margin: auto;
    text-align: center;
}
.correct_answer_label
{
    margin-bottom: 0;
    font-size: 16px;
    color: #ffffff;
}
.breakpoint_add_button
{
    position: relative;
    width: 200px;
    height: 100px;
    left: 0;right: 0;
    bottom: 20px;
    margin: auto;
    cursor: pointer;
}
a
{
    color: #ffffff;
    text-decoration: none;
}
