<html>
<head>
    <title>OpenEDU - Teacher Client</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link href='bower_components/videojs-openedu/dist/videojs-openedu.min.css' rel='stylesheet'>
    <link href='bower_components/videojs/dist/video-js.css' rel='stylesheet'>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='parseQueryStrings.js'></script>
    <style> html, body { background: #545454; } </style>
</head>
<body>
    <div data-ng-app="teacherClient" data-ng-controller="teacherClientController">
      <a class="video_return_button" href="student_videos.html">Videos</a>
      <p class="video_title">Introduction to Limits</p>
          
          <div id="videoBox">
            <video 
              id="video" 
              class="video_box video-js vjs-default-skin" 
              controls
              data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src":"https://www.youtube.com/watch?v=riXcZT2ICjA"}] }'
              >
              <p>Your browser doesn't support video. Please <a href="http://browsehappy.com/">upgrade your browser</a> to see the example.</p>
          </video>
          </div>
          <button type="button" class="breakpoint_button" data-ng-click="creatBreakpoint()" data-ng-show="!creatingBreakpoint">Create Breakpoint</button>
          <div class="breakpoint_menu" data-ng-show="creatingBreakpoint">
              <p class="breakpoint_title" data-ng-show="creatingBreakpoint">Add Breakpoint</p>
              <form novalidate>
                 
                  <div data-ng-show="creatingBreakpoint">
                      <input class="breakpoint_time" name="breakpoint_time" type="text" data-ng-model="breakpoint_time">
                      <input class="breakpoint_question" name="breakpoint_question" type="text" data-ng-model="breakpoint_question" placeholder="Question">
                      <br>
                      <input class="breakpoint_answer" name="breakpoint_answer_1" type="text" data-ng-model="breakpoint_answer_1" placeholder="First Answer">
                      <input class="breakpoint_answer" name="breakpoint_answer_2" type="text" data-ng-model="breakpoint_answer_2" placeholder="Second Answer">
                          <input class="breakpoint_answer" name="breakpoint_answer_3" type="text" data-ng-model="breakpoint_answer_3" placeholder="Third Answer">
                          <input class="breakpoint_answer" name="breakpoint_answer_4" type="text" data-ng-model="breakpoint_answer_4" placeholder="Fourth Answer">

                          <div class="correct_answer_container">
                          <p class="correct_answer_label">Correct Answer</p>
                          <input type="radio" class="breakpoint_rad_button" name="correct_answer" data-ng-model="radio" value="1" id="teacher_rad">
                          <input type="radio" class="breakpoint_rad_button" name="correct_answer" data-ng-model="radio" value="2" id="teacher_rad">
                          <input type="radio" class="breakpoint_rad_button" name="correct_answer" data-ng-model="radio" value="3" id="teacher_rad">
                          <input type="radio" class="breakpoint_rad_button" name="correct_answer" data-ng-model="radio" value="4" id="teacher_rad">
                          </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <input class="breakpoint_add_button" type="submit" data-ng-click="cancleBreakpoint()" name="breakpoint_cancle" value="Cancel">
                      <input class="breakpoint_add_button" type="submit" data-ng-click="addBreakpoint()" value="Add">
                  </div>
              </form>
          </div>
    </div>
          <!--<script src="workDamit.js"></script>-->
          <script src="bower_components/videojs/dist/video.min.js"></script> 
          <script src="bower_components/videojs-youtube/dist/Youtube.min.js"></script>
          <script src="bower_components/videojs-openedu/dist/videojs-openedu.js"></script><!-- openedu -->
          <script src='createVideoController.js'></script>

</body>
</html>
